################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs/task-harbor/FileContentIndex
/appsettings.json
/api/.vs/
/api/.vs/task-harbor/v17/.suo

