<app-navbar></app-navbar>
<app-side-navigation></app-side-navigation>
<app-footer></app-footer>

<div class="task-list-container">
  <p-toolbar styleClass="table-toolbar">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="addNewTask($event)"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="taskNotes"
    selectionMode="single"
    [(selection)]="selectedTaskNote"
    dataKey="Id"
    (onRowSelect)="onRowSelect($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>SerialNumber</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr [pSelectableRow]="task">
        <td>{{ task.Id }}</td>
        <td>{{ task.Name }}</td>
        <td>{{ task.SerialNumber }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-task-notes-edit *ngIf="isTaskEditOpen"></app-task-notes-edit>
