################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs/task-harbor/FileContentIndex
/appsettings.json
.appsettings.json
appsettings.json
api/appsettings.json
/api/.vs/task-harbor/v17/.suo
/api/.vs/
